
#Ignore Build and lib dirs
build
lib/*

# Ignore any executable
bin/*

#Ignore Specific files
#Compiled Source files
*.o
*.exe
*.class
*.so
*.dll

#Packages
*.7z
*.iso
*.jar

# Logs
*.log
*.sql

# Debug folders
Debug/

# Eclipse Configuration
.settings/
.project
.cproject
